# 模型配置
model:
  # 基础模型路径
  base_model_path: 'D:/namespace/tensorflow-project-namespace/Win-Train/model/qwen3-0.6'
  # 模型保存路径
  save_path: 'D:/namespace/tensorflow-project-namespace/Win-Train/model'
  # LoRA适配器保存路径
  lora_output_path: 'D:/namespace/tensorflow-project-namespace/Win-Train/output/lora_output'

# 推理配置
inference:
  auto_load: true

# API服务配置
api:
  host: '127.0.0.1'
  port: 8801
  # 任务队列最大数量
  max_queue_size: 100

